@charset "utf-8";

/*------------------------
  PIED DE PAGE
  ------------------*/

footer {
	/*le bandeau de bas de page*/
	background-color: var(--BleuFoncerKoala);
	color: var(--VertKoala);
	padding: 1rem 50px;
}

footer div {
	/*le pied de page en soit*/
	max-width: 1000px;
	display: flex;
}

footer h2,
footer a {
	margin-bottom: 5px;
	color: var(--VertKoala);
}


footer div div {
	flex-direction: column;
	display: flex;
	margin-top: 10px;
	margin-left: 20px;
}

footer .logo {
	width: 8em;
}