/*main.css*/
@import url("img.css");
@import url("header.css");
@import url("footer.css");


/*charte graphique plan santé MC*/


:root {
  --Marron: #da9853;
  --Beige: #feeaa1;
  --VertBlanc: #ecf8f6;
  --VertFoncer: #216b67;
  --VertProfond: #18534f;

  --RougeBordeaux: #990000;
  --GrisClair: #CCCCCC;
  --GrisMoyen: #888888;
  --GrisFoncé: #333333;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 3rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: var(--BleuFoncerKoala);
}

h3,
h4,
h5,
h6 {
  color: #000000;
}

hr {
  border: none;
  /* Supprimer la bordure par défaut */
  height: 2px;
  /* Épaisseur de la ligne horizontale */
  background-color: var(--JaunePalePS);
  /* Couleur de la ligne (rouge dans cet exemple) */
  margin: 10px 0;
  /* Marge supérieure et inférieure pour l'espacement */
}

.content-section {
  background: var(--VertBleuPS);
  color: var(--JaunePalePS);
  padding: 10px 5px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.content-section a {
  color: var(--JaunePalePS);
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

p {
  margin: 0px;
  text-align: justify;
}

button {
  background-color: var(--GrisClair);
  color: var(--VertBleuPS);
  border-radius: 15px;
  border: none;
}

.toggle-box-button {
  cursor: pointer;
}

h1 {
  color: var(--VertBleuPS);
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  color: var(--BleuPS);
  font-size: 1.25rem;
}

@media screen and (max-width:700px) {
  .Marge_main {
    margin-top: 0rem;
  }

  .FormatOrdi {
    display: none;
  }

  .LimitePage {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width:700px) {
  .Marge_main {
    margin-top: 1rem;
  }

  .FormatMobile {
    display: none;
  }

  .LimitePage {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

.CelluleCalendrier,
i.CelluleCalendrier {
  text-align: center;
  display: block;
  font-size: 0.8rem;
}

.GrilleCalendrier {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(1rem, auto);
  border: solid 1px var(--GrisClair);
}

.GrilleCalendrier>div {
  border: solid 1px var(--GrisClair);

  padding: 0.1em;
}

hr.Calendrier {
  border: none;
  /* Supprimer la bordure par défaut */
  height: 1px;
  /* Épaisseur de la ligne horizontale */
  background-color: var(--JaunePalePS);
  /* Couleur de la ligne (rouge dans cet exemple) */
}

.logo {
  height: 6rem;
  margin: 5px;
}

.logo4 {
  height: 4rem;
  margin: 5px;
}

.logoPt {
  height: 2rem;
  margin: 5px;
}

.logoMin {
  height: 1rem;
}


.GrilleUsers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(1rem, auto);
}

.GrilleUsers>div {
  margin: 0.5em;
}

.event {
  border: 1px solid var(--GrisClair);
  border-radius: 15px;
  margin-bottom: 10px;
  color: #000000;
}

.rowDrive {
  display: flex;
}

.rowDrive>div {
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.row {
  display: flex;
  justify-content: center;
}


@media screen and (max-width:700px) {
  .row .illustration {
    flex-direction: column;
    display: flex;
    width: 40%;

  }

  .row .texte {
    flex-direction: column;
    display: flex;
    width: 60%;
  }
}

@media screen and (min-width:700px) {
  .row .illustration {
    flex-direction: column;
    display: flex;
    width: 25%;

  }

  .rowDrive2 {
    display: flex;
    justify-content: center;
  }

  .row .texte {
    flex-direction: column;
    display: flex;
    width: 75%;

  }
}

.illustration {
  width: 100%;
  margin: 10px;
}

.illustration img {
  border-radius: 10px;
}

.illustration img:hover,
a button:hover {
  /*bloc carte quand on passe la souris*/
  transform: scale(1.02);
  box-shadow: 0 0 5px 5px var(--GrisClair);
}

button {
  background-color: var(--VertFoncer);
  color: var(--Marron);
  border-radius: 15px;
  border: none;
  justify-content: center;

}

a button {
  color: var(--Beige);
  justify-content: center;
  width: 100%;
}


.rdvMc strong {
  text-decoration: solid;
}

.rdvMc i {
  color: var(--VertBleuPS);
}